.section {
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    margin-bottom: 107px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 127px;
  }
}

.container {
  @media screen and (min-width: 768px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 100px;
  }
}

.container h2 {
  max-width: 264px;
}

@media screen and (min-width: 768px) {
  .container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    background-color: var(--green-color);
  }
}

@media screen and (min-width: 1280px) {
  .container h2 {
    max-width: 398px;
  }
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media screen and (max-width: 767px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 768px) {
    column-gap: 126px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 193px;
  }
}
