.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-width: 130px;

  cursor: pointer;
  text-decoration: none;
  border:none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  margin: auto;

  border-radius: 500px;
  border: 1px solid var(--green-color);
  color: var(--text-color);
  background-color: var(--green-color);
  transition: all 250ms ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--background-color);
}

.btnText {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
  transition: all 250ms ease;
}

.btn:hover .btnText,
.btn:focus .btnText{
  color: var(--green-color);
}

.iconGoContact {
  fill:var(--text-color);
  transition: all 250ms ease;
}

.btn:hover .iconGoContact,
.btn:focus .iconGoContact{
   fill: var(--green-color);
   
}