.btn {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 141px;
  cursor: pointer;
  text-decoration: none;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  margin: auto;

  border-radius: 500px;
  border: 1px solid var(--green-color);
  color: var(--text-color);
  background-color: inherit;

  @media screen and (min-width: 768px) {
    margin: 0;
    
  }

 
}

.btn:hover,
.btn:focus {
  /* color: var(--white-color); */
  /* border: 2px solid var(--blue-color); */
}

.btnText {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
}

.icon {
  width: 32px;
  height: 32px;
}