.section h2 {
    text-align: center;
}

.wrapp {
  position: relative;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 96px;
  margin-bottom: 96px;
  @media screen and (min-width: 768px) {
    margin-top: 135px;
    margin-bottom: 135px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}

.wrapp::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  top: -72px;
  background-color: var(--green-color);
}

@media screen and (min-width: 768px) {
  .wrapp::before {
    height: 87px;
    top: -111px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapp::before {
    top: -104px;
  }
}

.wrapp::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 48px;
  bottom: -72px;
  background-color: var(--green-color);
}

@media screen and (min-width: 768px) {
  .wrapp::after {
    height: 87px;
    bottom: -111px;
  }
}

@media screen and (min-width: 1280px) {
  .wrapp::after {
    bottom: -104px;
  }
}

.number {
  font-family: 'Oswald';
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  color: var(--green-color);
  @media screen and (min-width: 768px) {
    font-size: 100px;
    line-height: 100px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 164px;
    line-height: 164px;
  }
}

.text {
  font-family: 'Oswald';
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--text-color);
  @media screen and (min-width: 768px) {
    font-size: 28px;
    text-align: center;
  }
  @media screen and (min-width: 1280px) {
    font-size: 48px;
    line-height: 48px;
  }
}
