.section {
  /* margin-top: 222px; */
}

.border {
  border-bottom: 1px solid var(--green-color);
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    padding-bottom: 26px;
    display: flex;
    gap: 65px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 28px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @media screen and (min-width: 768px) {
    font-display: row;
    gap: 43px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 20px;
  }
}

.text {
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: justify;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 24px;
  margin-bottom: 36px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts p {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.link {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  /* font-style: normal; */
}

.wrapper button {
  @media screen and (min-width: 768px) {
    margin-right: auto;
    margin-left: 0;
  }
}
