.burgerConteiner {
  position: absolute;

  background-color: #173d33bf;
  z-index: 99;

  border-radius: 25px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    top: 36px;
    bottom: 36px;
    right: 20px;
    left: 20px;
    width: calc(100%-40px);
    height: calc(100vh - 72px);
  }
  @media screen and (min-width: 768px) {
 
    right: 30px;
    top: 36px;
    bottom: 36px;
    width: 365px;
    height: calc(100vh - 72px);
  }
  @media screen and (min-width: 1280px) {
   
    right: 100px;
    top: 24px;
    bottom: 24px;
     height: calc(100vh - 48px);
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 4px;
  transition: all 250ms ease;
  @media screen and (min-width: 768px) {
  }
}

.btn:hover,
.btn:focus {
}

.btnText {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white-color);
}

.iconClose {
  width: 20px;
  height: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-top: 1px solid var(--white-color);
}

.link {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 12px;
  min-width: 130px;

  cursor: pointer;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;

  color: var(--text-color);

  /* transition: all 250ms ease; */
}

.link:hover,
.link:focus {
  background: var(--gradient-green);
}

.linkText {
  font-family: 'Fira Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white-color);
}

.iconArrow {
}
