.section {
  margin-bottom: 24px;
}

.section h2 {
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 120px;
  }
}

.container {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 122px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    gap: 176px;
    margin-bottom: 120px;
  }
}

.address,
.container form {
  @media screen and (min-width: 768px) {
    flex: 1;
    max-width: calc(50% - 61px);
    box-sizing: border-box;
  }
  @media screen and (min-width: 1280px) {
    max-width: calc(50% - 87px);
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;

  font-style: normal;
  margin-bottom: 8px;
}

.telWrap {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Fira Sans';
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: justify;
  color: var(--text-color);
  font-style: normal;

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    line-height: 29px;
  }
}

.icon {
  stroke: var(--text-color);
  fill: var(--background-primary);
  width: 24px;
  height: 24px;
}

.social {
  display: flex;
  gap: 24px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  background-color: inherit;
}
