.team {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: no-wrap;
  }
  @media screen and (min-width: 1280px) {
    gap: 48px;
  }
}

.list {
  display: flex;
  gap: 24px;
}

.item {
  @media screen and (max-width: 767px) {
    width: calc(50% - 24px);
  }
  @media screen and (min-width: 1280px) {
    flex-wrap: wrap;
    width: calc(50% - 48px);
  }
}
.title {
  font-family: 'Fira Sans';
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.04em;
  text-align: left;

  color: var(--text-color);
  margin-top: 8px;
  margin-bottom: 2px;
  @media screen and (min-width: 1280px) {
    margin-top: 16px;
    margin-bottom: 4px;
  }
}

.text {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--text-color-secondary);
}

.card {
}
