.social {
  display: flex;
  gap: 8px;
  background-color: transparent;
  margin-top: 24px;
  margin-bottom: 24px;
 
}

/* .link {
  font-family: 'Fira Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.04em;
  color: var(--text-color);

} */

.icon {
  stroke: var(--white-color);
  fill: transparent;
  width: 24px;
  height: 24px;
}