.social {
  display: flex;
  gap: 8px;
  background-color: transparent;
}

.icon {
  stroke: var(--white-color);
  fill: transparent;
  width: 24px;
  height: 24px;
}

.icon:hover, icon:focus {
  stroke: var(--green-color);
}
